input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
  }
  
  .valid  {
    border-color: #5A5;
  }
  
  .valid :focus {
    border-color: #5A5;
  }
  
  .error {
    border-color: red;
  }
  
  .error:focus {
    border-color: red;
  }
    